body {
    background-image: url(img/bg.jpg);
    /* float: right; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed
    
}

/* .logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;

} */