/* style.css */

.bg-black {
    background-color: #000;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Fix background image */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency if needed */
    justify-content: center; /* Center the contents horizontally */
}

.navbar-brand img {
    max-height: 40px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.form-control {
    width: 100%;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .navbar-toggler {
        margin-right: 0;
    }
}

.popular-message {
    position: absolute;
    top: 100px; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Ensure it's above other elements */
    color: white;
    font-size: 24px;
}

.carousel-container {
    margin-top: 50px; /* Adjust as needed */
}
