.bg-black {
    background-image: url(img/bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.top-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
    z-index: 999;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
    background: transparent;
}

.border-warning {
    border-color: yellow;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-left {
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

.form-control {
    width: 300px;
    
}
