.bg-black {
    background-color: #000;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency if needed */
    justify-content: center; /* Center the contents horizontally */
}

.navbar-brand img {
    max-height: 40px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.form-control {
    width: 100%;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .navbar-toggler {
        margin-right: 0;
    }
}
